apiVersion: v1
kind: Service
metadata:
  name: {{ .ObjectMeta.Name }}
  namespace: {{.Spec.NameSpace}}
spec:
  selector:
    app: {{ .ObjectMeta.Name }}
  type: {{if eq .Spec.Expose.Mode "ingress"}}ClusterIP{{else if eq .Spec.Expose.Mode "nodePort"}}NodePort{{end}}
  ports:
    - name: http
      {{if eq .Spec.Expose.Mode "ingress"}}port{{else}}targetPort{{end}}: {{.Spec.Port}}
      port: {{.Spec.Port}}
      protocol: TCP
      {{if eq .Spec.Expose.Mode "nodePort"}}nodePort: {{ .Spec.Expose.NodePort }}{{end -}}
